In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/df_with_all_columns.csv')

/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
df_reduced = pd.read_csv('../data/our_dataframe.csv')

In [18]:
df_reduced.head()

,Unnamed: 0,saleprice,sqfttotliving,yrbuilt,yrrenovated,bedrooms,zipcode,sqfttotbasement,sqftfinbasement,sqftopenporch,...,lakewashington,lakesammamish,smalllakerivercreek,otherview,wfntlocation,trafficnoise,airportnoise,powerlines,othernuisances,adjacentgreenbelt
0,0,1910000,3990,1952,2019,6,98125,1360,1360,110,...,1,0,0,0,0,0,0,N,N,N
1,1,1089950,3920,2018,0,5,98028.0,930,930,550,...,0,0,0,0,0,0,0,N,N,N
2,2,412500,2280,1958,0,4,98056,1140,1140,0,...,0,0,0,0,0,1,0,N,N,N
3,3,541000,1030,1965,0,3,98052,0,0,210,...,0,0,0,0,0,0,0,N,N,N
4,4,1020000,2410,1939,0,3,98144,1070,1070,0,...,4,0,0,0,0,1,0,N,N,N

In [4]:
df.head()

,Unnamed: 0,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,propertytype,principaluse,...,seismichazard,landslidehazard,steepslopehazard,stream,wetland,speciesofconcern,sensitiveareatract,waterproblems,transpconcurrency,otherproblems
0,0,3027422,2130430120,213043,120,2019-12-20,560000,20191226000848,11,6,...,N,N,N,N,N,N,N,N,N,N
1,1,3002257,9406520630,940652,630,2019-07-22,435000,20190730001339,11,6,...,N,N,N,N,N,N,N,N,N,N
2,2,2975376,984000450,98400,450,2019-02-20,409950,20190228000242,11,6,...,N,N,N,N,N,N,N,N,N,N
3,3,2976405,302000645,30200,645,2019-03-04,380000,20190306000786,11,6,...,N,N,N,N,N,N,N,N,N,N
4,4,3012934,6154900010,615490,10,2019-09-24,775000,20190930002488,11,6,...,N,N,N,N,N,N,N,N,N,N

In [7]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [8]:
df.head()

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,propertytype,principaluse,saleinstrument,...,seismichazard,landslidehazard,steepslopehazard,stream,wetland,speciesofconcern,sensitiveareatract,waterproblems,transpconcurrency,otherproblems
0,3027422,2130430120,213043,120,2019-12-20,560000,20191226000848,11,6,3,...,N,N,N,N,N,N,N,N,N,N
1,3002257,9406520630,940652,630,2019-07-22,435000,20190730001339,11,6,3,...,N,N,N,N,N,N,N,N,N,N
2,2975376,984000450,98400,450,2019-02-20,409950,20190228000242,11,6,3,...,N,N,N,N,N,N,N,N,N,N
3,2976405,302000645,30200,645,2019-03-04,380000,20190306000786,11,6,3,...,N,N,N,N,N,N,N,N,N,N
4,3012934,6154900010,615490,10,2019-09-24,775000,20190930002488,11,6,3,...,N,N,N,N,N,N,N,N,N,N

In [10]:
df.drop(['major', 'minor'], axis = 1, inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18771 entries, 0 to 18770
Columns: 146 entries, excisetaxnbr to otherproblems
dtypes: bool(1), float64(5), int64(88), object(52)
memory usage: 20.8+ MB

In [19]:
df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18293 entries, 0 to 18292
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           18293 non-null  int64
 1   saleprice            18293 non-null  int64
 2   sqfttotliving        18293 non-null  int64
 3   yrbuilt              18293 non-null  int64
 4   yrrenovated          18293 non-null  int64
 5   bedrooms             18293 non-null  int64
 6   zipcode              15907 non-null  object
 7   sqfttotbasement      18293 non-null  int64
 8   sqftfinbasement      18293 non-null  int64
 9   sqftopenporch        18293 non-null  int64
 10  sqftenclosedporch    18293 non-null  int64
 11  sqftdeck             18293 non-null  int64
 12  heatsystem           18293 non-null  int64
 13  heatsource           18293 non-null  int64
 14  bathhalfcount        18293 non-null  int64
 15  bath3qtrcount        18293 non-null  int64
 16  bathfullcount        18293 non-null  int64
 17  condition            18293 non-null  int64
 18  viewutilization      18293 non-null  object
 19  sqftgarageattached   18293 non-null  int64
 20  daylightbasement     18293 non-null  object
 21  finbasementgrade     18293 non-null  int64
 22  hbuasifvacant        18293 non-null  int64
 23  inadequateparking    18293 non-null  int64
 24  mtrainier            18293 non-null  int64
 25  olympics             18293 non-null  int64
 26  cascades             18293 non-null  int64
 27  territorial          18293 non-null  int64
 28  seattleskyline       18293 non-null  int64
 29  pugetsound           18293 non-null  int64
 30  lakewashington       18293 non-null  int64
 31  lakesammamish        18293 non-null  int64
 32  smalllakerivercreek  18293 non-null  int64
 33  otherview            18293 non-null  int64
 34  wfntlocation         18293 non-null  int64
 35  trafficnoise         18293 non-null  int64
 36  airportnoise         18293 non-null  int64
 37  powerlines           18293 non-null  object
 38  othernuisances       18293 non-null  object
 39  adjacentgreenbelt    18293 non-null  object
dtypes: int64(34), object(6)
memory usage: 5.6+ MB

In [15]:
df_reduced.drop('Unnamed: 0', axis = 1, inplace =True)

In [16]:
columns = list(df_reduced.columns)
# Find unique values for columns:
for col in columns:
    print(f"Unique entries for {col}: {df_reduced[col].unique()}")

Unique entries for saleprice: [ 560000  435000  409950 ... 1482000 4775000  700988]
Unique entries for sqfttotliving: [1930 1975 1850 ... 6210 2482 1675]
Unique entries for yrbuilt: [1989 1994 1968 1963 1947 2018 2005 1998 2007 1978 1975 1920 1992 2012
 1928 1957 1974 2010 1996 2006 1914 1955 2013 1990 1977 2001 1962 1997
 1949 1972 1927 1939 1980 1987 1901 1965 1970 1960 1988 2017 1916 1907
 1958 2004 1993 1904 1918 1952 2019 1900 1931 2003 1925 1938 1969 1941
 1966 1961 1951 2009 2008 1967 1999 1953 1984 1991 1943 1956 1979 1903
 1973 2016 1934 1926 2014 1942 1905 1906 1983 1954 2015 1948 1959 1950
 1909 1981 2011 1985 1945 1919 1976 1986 1924 1946 1937 1923 1913 1944
 1915 1922 1930 1940 1995 2002 1964 1929 1912 2020 1910 1921 2000 1902
 1933 1908 1911 1932 1917 1982 1971 1935 1936]
Unique entries for yrrenovated: [   0 1952 1978 1981 2019 1996 1984 1982 1983 1990 2008 1956 1946 1991
 2018 2001 2014 1989 1992 1976 1961 2005 1962 1993 1959 2007 1979 2002
 2009 1998 1971 1999 1988 2003 2006 2012 2011 2016 1995 2004 1994 1967
 1953 1970 1985 1965 2013 2010 1960 1977 1966 2015 2017 1986 1973 1968
 2020 2000 1969 1987 1963 1980 1954 1997 1950 1944 1957 1938 1964 1974
 1940 1955 1958 1945 1972 1975]
Unique entries for bedrooms: [ 3  4  1  5  2  6  8  7  0 10  9 13]
Unique entries for zipcode: ['98019' '98038' '98058' '98001' '98177' '98028' '98118' nan '98107'
 '98053' '98006' '98030' '98106' '98155' '98001.0' '98042' '98092' '98115'
 '98056' '98003' '98119' '98006.0' '98103' '98059' '98198' '98022' '98075'
 '98108' '98040' '98004' '98126' '98065' '98125' '98168' '98004.0' '98188'
 '98117' '98112' '98122' '98034' '98052.0' '98072' '98178' '98029' '98105'
 '98002' '98074' '98008' '98102' '98106.0' '98014' '98118.0' '98033'
 '98109' '98031' '98011' '98070' '98199' '98115.0' '98059.0' '98146'
 '98077' '98052' '98023' '98144' '98007' '98045' '98126.0' '98133' '98055'
 '98027' '98032' '98288.0' '98070.0' '98136' '98003.0' '98148' '98002.0'
 '98116' '98024' '98108.0' '98051' '98166' '98122.0' '98075.0' '98005.0'
 '98116.0' '98056.0' '98039' '98117.0' '98074.0' '98005' '98007.0'
 '98155.0' '98058.0' '98010' '98038.0' '98008.0' '98125.0' '98023.0'
 '98105.0' '98034.0' '98058 ' '98144.0' '98045.0' '98198.0' '98354'
 '98027.0' '98103.0' '98011.0' '98033.0' '98177.0' '98112.0' '98166.0'
 '98040.0' '98119.0' '98032.0' '98047' '98022.0' '98050' '98042.0'
 '98146.0' '98055.0' '98133.0' '98136.0' '98031.0' '98072.0' '98092.0'
 '98199.0' '98010.0' '98034-2540' '98168.0' '98014.0' '98042-3001'
 '98188.0' '98053.0' '98028.0' '98288' '98148.0' '98030.0' '98103-8173'
 '98057' '98113' '98058-5344' '98109.0' '98074-3908' '98023-7841'
 '98107.0' '98019.0' '98075-8010' '98' '98028-6100' '91844' '98065.0'
 '98134' '98178.0' '98102.0' '98029.0' '98224' '98079' '988122'
 '98074-6745']
Unique entries for sqfttotbasement: [   0 1220  920 1040  810  560 1700 1250  840 1780 1320  730 1570 1140
  610 1350  680  590 1650  320  290 1420 1170  770  430  660  850  480
 1640  860 1330 1060  980 1010  990 1030  690  470  760  960 1280  360
 1050  460  720  890 1930  420  710  600  830 1210  800 1200 1580  900
 1080 2830 1400 1870  190 1290 1180  870 1390 1440  700 1270  250  490
  570 1230  910  780 1300 1100  790 1450  880 2550  500  740  820 2540
 1310 1260  940 1070 1000 1340 1730  970  440 1410 1550  640  400  380
 1590  510  450 1130 2320  540 1190  950  350  530 1110  220  520 1020
 1500 1360 1620  130 1430 1840 1160 1770 1830  340 1377  550  310 1120
 1460  370 2050  410 1520 1150 2470  230 1380 1470  300 1480  580 1240
 1950 1820  930  630 1370 1880 1600 2820  620 2110 2420 1690 2310 1990
  140 1530  650 2940 1656 1610 1890 2810  670  390 1750 1090  260 1578
 2390  750 1540 1740  180 1790 1630 1860  270 2200 1510 2140  432  975
 1711 1810 1800 2130 2650 1710  240 1970 1490  330 2060  855 1680 1940
 1760 2120 1144 1720 2090  160 2270 1749 2149  200 1314 2040 1573 1560
  789  224 1146  852 2250 1185 3100  100 2930 1980 1670 1337  786  452
 1920  170  694 1466 2460 2150   80 1544  775 1033 1660 1536 1910  416
 2030 1900  972 2500  210 1960 1252 1850  906  442 2300  280 2070  150
 1717 1078 2510 2160  736 1248 2840 2010  365 1303 2220 1176 4590 2570
   60  612 2580 1353 3097 1288 2210  847 2080 2450 2590 2370  644 1005
 2400 1464  602 2159 2020 1426  456 4670 3210  613 1222  471  566 1068
 1709 2170 1335  938   90 2330  996 3830 2275 1596 2290  325 1646 1101
 1184   70 2240  874 2640 2280 2595 2520  265 2380  812 2950  461  395
 3530 1538  609 2600  120  858  914  953 2100 2880 2044  768 1296 3180
 2260 1302  864 1324 1196 3680 2730 2980  932 3115  398 3140 1374 2410
 1038  505 2360 1554 1107 2700 2000 3050 2490 1229 1308 1713 1115 1395
 2610 2860  804  594  762  925 1325  438 2340 1012 5060 2180  754 3080
  814  165 1805  486]
Unique entries for sqftfinbasement: [   0  600  460 1040  720  350  920 1250 1000  290 1570  680  310 1550
   80  130  700  970  430  210  150  990 1200  480 1010 1030  270  760
  940  360  120  250  400  770  590 1310  900  610  420  370  930 1050
  220  750 1320  800 1580 1080 1330 1400 1070 1290  740  870  810  980
 1440 1270  110  330 1230  780  880  520  850  640  200  260  820  570
 1300   60  530  300  440  240  390  500  550  860 1630  910 1060  560
  410  450  790 1410 1350   50  660  340 1540 1190  190 1020 1090  630
  320  580 1160 1430 1840 1770  140 1830  160  950   70 1377 1130 1120
 1170 2050  730  650  540  710 1150  830 2470 1700  230 1380 1470  690
 1520 1240 1950 1800 1340 1370 1880 1140  380  100 1280 2780 1780  180
  170  620 1790 1100  670 1480 2310  280  840 1220 1116 1890  890 2430
  510 1450   40  470  960 1750  958 1500 2390  490  667  222 1460 2080
 1390   30 2140 1110  432  975  766 1530 1420 1360 2560 1490 2060 2410
 1680 1760 2090 1210 2160 1376 1180 1510 1600 1690 1089 2149 1590 1412
 2170 1820  912  528   90 2110 2250 1025 1720 1740 2230  772  602  786
  199 1260  694  659  396 2010 1920 1660  932 1910 2030 1710  342  837
 1850   95  906 1730  136 1252 2070 1870 1640 2320 2100 1620 1970   72
 1860  808  145 1670 1303 1095  777 1980 1176 4590 2570 2460 1353 2204
 1288  429 2590  644  382  294  686 2400 2210 2159 2510 3210  858  296
  102  676 1709 1810 1335 1560  462  687 1900 2500  536 1014 3280 1156
  574 1610  325 2000  575 2640 1650 2520 2040  265  625 2130  412 2950
  191 2200 3360 1538 2450 1178  378  914  953  581  672 2850 2370 1043
 2980 2260 2940  964 1940  398  285 1004  305 2360 1554 1107 1076 2490
  725  666 1697 1245  263 2620  762   64 1930  255 2340 2020  877  814
 1005 2120  848  215 1805  486  424]
Unique entries for sqftopenporch: [  180    45     0   670   120   150    60   370   270   630   110   230
   250   200   560    30   220   314    50    80    40   272   100   330
   130   280   260    10   140    90   640   290   310   170  1060    70
    48   440   240   192   320   129   300    25   210   510   380   720
    42    20    35   350   160   480   810   340   430   532  1250   190
    55    64   470  1050   500   368   390   880   344   410   550   610
   233  1210   420   167  1380    32   303    54  1860   860   360   400
   700   580    84   590   142   188   153   165   625   530   650   620
    16   298   509   252   460   134   171   346  1680   126   144   236
   910   135   225   157   324   266  1460    36    28   128   520   222
    66   900    88   540   166   204   246   206   282   195    95   600
   198   176   271   125   870   490   114    21   710   578   218   450
   108   175   389   214   690   138   213   416   302   179   800   205
   362   248   660   740   216   284    56   570   104  1010   780   276
   102   750   174    96   199   242   211    12    24   680  1970   155
    18  1180   261   124    44   384  1220   185   576   163   215     6
   106   255   317   136   178   112   118   524  1000    15   168   227
   425   408   257   316    65   930    79   238  1080   161   432   267
   525   217   485    94   790  1300    75  1630    46  1390   232   411
   241    83   256    72   334   145   335    81   235   212   148    78
   264   275   920    98    99   770   304   356   245   234    76   760
  2030   181   224   366   960   201   263   315   253    92   244    86
   119    47   254   396   890     7   364  1090   243    49    52   228
   730  1190   342   980   203   273   281  1270   286    61   207   436
    87   221   231   608   830   223 11570    97   345  1230   702  1020
   156   269   632    22]
Unique entries for sqftenclosedporch: [   0  330   40  110   70   30   80  120  320  288  130  180  100   20
  210  340   32   50  170  220   60   88  240  200  189  160   84  140
  190  250   90  470  290  230  300  260  150  600  380  342  570  410
  430   10  400  112  280  360  350  310  590  620  185  448  144  500
  384  460  143  780  520  490  420 1840  540   36  242  270  670 1110]
Unique entries for sqftdeck: [   0  140  500  110  790  180  150  900  550  300   20  120  380  590
   60  520  200   50  100  130  320  340  240  260  220  470   80  280
  170   90  290  350  700  410  450  160  360  580  230   40  530  124
  250  800 1200  385  570  680 1550  390  820  430  540  760  670  190
  310   70  330  270  420   30  494   91  210  440  560  510  966  370
  770  156  920  850 1010  480  400  740  650  600  640  610  275 1030
  584  980  208 1180   44  460   10 1020  930 1060 1490  690  144  860
   96  256  306  630  950  830  780  490  279  720 1070  201  890  228
   24  117  620  456  750  978  660 1080  710   48  414  193  489 1120
  632  575 1660  880  810  970  192  730 1670 1280  840  332  870 1170
 1000  555 1090  374  586 1610 1810  315  425  358  168  274 1600  472
 1160 1100  702  312  475  243 1210  940 1040 1380   65  145  960  272
  288  482 1500  599  314  435 1240  916  675  152  132  432  282 1510
  375   25  368 1140 1750  326  644 1130  108  322  196  231   45  990
   72   28  910 1270  252  204  444  396  122  756  665  503  221 1310
 1900  136   78  198  324   85 2180 1110  763  195  115 1150 1540   66
  255  388  135 1910  561 1190   27 1460 1690 1290  585  625  576  656
 1390  791 2100  667  352  325 1230 1300  335  141  227   52  344  423
  126  624  536 1350  384  242  205  372  125  148 1430 1250  428  602
   84  155  128 1726  131  434  154   64  304 2250  345 1760 1050 1096
  172  224  406  233 1730 1520 1570  513  276]
Unique entries for heatsystem: [5 4 1 7 6 3 2 8 0]
Unique entries for heatsource: [2 3 1 5 7 6 0 4]
Unique entries for bathhalfcount: [0 1 2 3 4 5]
Unique entries for bath3qtrcount: [0 2 1 3 4 5 6]
Unique entries for bathfullcount: [2 1 3 0 4 5 6 7]
Unique entries for condition: [3 2 5 4 1]
Unique entries for viewutilization: [' ' 'N' 'Y']
Unique entries for sqftgarageattached: [ 550  465    0  510  500  590  480  200  250  810  860  460   60  670
  780  380  640  828  310  280  190  290  400  520  440  710  530  420
  620  680  340 1130  100  450  300  220  650  120  740  720  360  570
  410 1300  850  490   40  940  688  230  690  470  864  600  960  430
  730  180  610  980  623  140  240  540  580  880 1010  660  700  320
  900  459  750  390  260  170   70  910  330  840  630  210  760  800
  770  820 1100  652  270  830  870  514  923  504  890 1170  560  160
  350  643  930 1120 1210  432 1090  130 1060  768  704   80  423  392
   84  790  494 1940  150  575 1490  686  370 1150 1050 1670  439  110
  506  384   50  920  427  541 1510  418 1240  361  511 1230 1020  516
  888  675   20  536  644  442  596  529  798 1030  599  472  774   36
  483 1140  441  585 1042  428  990  528  635  252  416  484  812   90
  692  191  462 1080  588 1440  950  188  399  445 1532  629  448 1290
  805  848   30 1040 1380 1200  684  521  970  444  469  785  574 3210
  342  933 1570  393  488  415  576  682  376  604  525  936  242  552
  803 1660 1220 1400 1340  435  626  792  457  696  775  456  702 1000
 2050  388  546  737  786  532 1027  322  676 2150 1064  527  706 1260
  396 1280 1110  642  565  748  495  608  398 1070  477  732  402  513
  545 1540  845  192 1160  714  641 1270  475  264  455  375 1320  625
  564   68 1231  556  567  468  368  505  473  952 1250  394  548 1176
  844  436  855  234  885  572 1530 1180 1710  808  487  756  379  822
  648  364 1410  438 1066   72  562  263  422 1480  246 1860  534  515
  825  426 1350  695  816 1164  286  458 2248 1360  778  693  722 1370
  712 1720  539  216  866  744   10  538  734  492  255  357  758 1790
 2440 1098 1336 1062]
Unique entries for daylightbasement: [' ' 'Y' 'N' 'y']
Unique entries for finbasementgrade: [ 0  7  6  8  9  5 10 11  4  2 13  3 12]
Unique entries for hbuasifvacant: [ 1  6  0 15 21 14  9 16]
Unique entries for inadequateparking: [0 2 1]
Unique entries for mtrainier: [0 2 3 4]
Unique entries for olympics: [0 2 3 4]
Unique entries for cascades: [0 2 3 4]
Unique entries for territorial: [0 2 3 4]
Unique entries for seattleskyline: [0 2 3 4]
Unique entries for pugetsound: [0 1 3 4 2]
Unique entries for lakewashington: [0 3 2 4 1]
Unique entries for lakesammamish: [0 1 2 4 3]
Unique entries for smalllakerivercreek: [0 2 3 4]
Unique entries for otherview: [0 3 2 4]
Unique entries for wfntlocation: [0 8 1 6 3 9 7 5 4]
Unique entries for trafficnoise: [0 1 2 3]
Unique entries for airportnoise: [0]
Unique entries for powerlines: ['N' 'Y']
Unique entries for othernuisances: ['N' 'Y']
Unique entries for adjacentgreenbelt: ['N' 'Y']